<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dbot_gripper_world">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dbot_gripper_world urdf file -->
    <xacro:include filename="$(find dbot)/urdf/dbot_gripper_world.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dbot_gripper_world.ros2_control.xacro" />


    <xacro:dbot_gripper_world_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
